@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'https://fonts.googleapis.com/css2?family=DM+Mono&display=swap';

body {
	background-color: #E6E6E6;
	font-family: 'DM Mono', monospace;
}

.top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #111111;
	height: 425px;

	.david {
		color: #E6E6E6;
		font-size: 77px;
		position: absolute;
		bottom: -35px;
		left: calc(50vw - 350px);
	}

	.rector {
		color: #E6E6E6;
		font-size: 77px;
		position: absolute;
		bottom: -35px;
		left: calc(50vw + 122px);
	}
}

.planet-container-wrapper {
	position: absolute;
	top: 150px;
	width: 100%;

	.planet-container {
		position: relative;
		left: 0;
		right: 0;
		top: 200px;
		display: flex;
		justify-content: center;
		align-items: center;

		.planet {
			position: relative;
			z-index: 999;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: #B8DCA7;
			border: 2px solid #111111;
			;

			&::after {
				content: "";
				position: absolute;
				top: 83%;
				left: 43%;
				width: 92%;
				height: 2px;
				background-color: #111111;
				transform-origin: top left;
				transform: translate(-28%, 0) rotate(-45deg);
			}
		}

		.moon-1 {
			position: absolute;
			top: -14%;
			right: -17%;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: #B8DCA7;
			border: 2px solid #111111;
		}

		.moon-2 {
			position: absolute;
			top: -25.5%;
			right: -29%;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #B8DCA7;
			border: 2px solid #111111;
		}

		.moon-3 {
			position: absolute;
			bottom: -20%;
			left: -20%;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: #B8DCA7;
			border: 2px solid #111111;
			;
		}

		.moon-4 {
			position: absolute;
			bottom: -28%;
			left: -29%;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #B8DCA7;
			border: 2px solid #111111;
		}

		.horizon-wrapper {
			position: absolute;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.horizon {
				z-index: 9;
				position: relative;
				top: 58%;
				width: 85%;
				height: 2px;
				background-color: #111111;
				transform: translateY(-50%);
			}
		}
	}
}