@page "/"
@model IndexModel

<div class="home-wrapper row">
    <div class="col-5 offset-1">
        <img class="img-fluid" src="~/img/logo.png" alt="Code in Space" />
    </div>

    <div class="col-5 text-end mt-5">
        <h1 class="display-5">I'm David.</h1>
        <div class="arrow"></div>
        <h1 class="display-6">I build complex websites.</h1>
        <div class="arrow"></div>
    </div>
</div>

<section class="lined">
    <div class="row fs-3">

        <p class="col-10 offset-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod turpis at semper vulputate. Praesent eget facilisis magna. Vestibulum tincidunt at mi id ultricies.
        </p>

        <p class="col-10 offset-1">
            Nulla sed consectetur velit. In eget nunc a ante convallis iaculis. Sed consectetur laoreet molestie. Etiam ut arcu ut metus porta fringilla iaculis vel orci.
        </p>

        <p class="col-10 offset-1">
            Morbi sodales sagittis felis a ultrices. Etiam accumsan libero quis eros venenatis, in finibus felis porttitor.
            Morbi porta lorem tempus, imperdiet ipsum ac, pellentesque dui. Aliquam erat volutpat.
        </p>
    </div>
</section>

<section class="lined">
    <div id="word-cloud"></div>
</section>